img {
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    margin: 5px;
}
ul{
    display: inline-flex;
}
li{
    margin: 5px;
}

.delete-button{
    background-color: red;
}